body {
    background-color: #000020;
    height: 110vh;
}

.systeme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
}

.soleil {
    width: 150px;
    aspect-ratio: 1/1;
    background-color: darkorange;
    border-radius: 50%;
}

.orbite {
    position: absolute;
    border: solid 1px white;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.planete {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.mercureorbite {
    width: 225px;
    animation: rotate 6s normal linear infinite;
}

.mercure {
    margin: 11%;
    background-color: goldenrod;
    width: 15px;
}

.venusorbite {
    width: 300px;
    animation: rotate 9s normal linear infinite;
}

.venus {
    margin: 10%;
    background-color: orangered;
    width: 30px;
}

.terreorbite {
    width: 375px;
    animation: rotate 10s normal linear infinite;
}

.terre {
    margin: 12.5%;
    background-color: blue;
    width: 30px;
    animation: rotate 10s normal linear infinite;
}

.lune{
    margin: -40%;
    width: 10px;
    background-color: gray;
}

.marsorbite {
    width: 450px;
    animation: rotate 12s normal linear infinite;
}

.mars {
    margin: 12%;
    background-color: red;
    width: 20px;
}

.jupiterorbite {
    width: 700px;
    animation: rotate 17s normal linear infinite;
}

.jupiter {
    margin: 8%;
    background-color: tomato;
    width: 100px;
}

.saturneorbite {
    width: 900px;
    animation: rotate 20s normal linear infinite;
}

.saturne{
    margin: 10%;
    background-color: burlywood;
    width: 90px;
    display: flex;
    align-items: center;
}

.anneau{
    width: 100%;
    padding: 2%;
    border-radius: 20%;
    border: 5px solid rosybrown;
}

.uranusorbite {
    width: 1100px;
    animation: rotate 25s normal linear infinite;
}

.uranus{
    margin: 11%;
    background-color: skyblue;
    width: 80px;
}

.neptuneorbite {
    width: 1300px;
    animation: rotate 30s normal linear infinite;
}

.neptune{
    margin: 12%;
    background-color: dodgerblue;
    width: 70px;
}

.description{
    position: relative;
    top: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    margin-bottom: 1%;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px rgb(255, 0, 0);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}