body {
    background-color: #000020;
}

.systeme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
}

.description {
    display: none;
    padding: 1%;
    width: max-content;
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.soleil {
    width: 150px;
    z-index: 10;
    aspect-ratio: 1/1;
    background-color: darkorange;
    border-radius: 50%;
}

.systeme:hover + .description{
    display: block;
}

.soleil:hover + .description::after{
    content: "Soleil";
    font-family: Arial sans-serif;
}

.orbite {
    position: absolute;
    border: solid 1px white;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.planete {
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.mercureorbite {
    z-index: -1;
    width: 225px;
    animation: rotate 6s normal linear infinite;
}

.mercure {
    margin: 11%;
    z-index: 9;
    background-color: peru;
    width: 15px;
}

.mercureorbite:hover + .description::after{
    content: "Mercure";
    font-family: Arial sans-serif;
}

.venusorbite {
    z-index: -2;
    width: 300px;
    animation: rotate 9s normal linear infinite;
}

.venus {
    margin: 10%;
    z-index: 8;
    background-color: orangered;
    width: 30px;
}

.venusorbite:hover + .description::after{
    content: "Venus";
    font-family: Arial sans-serif;
}
.terreorbite {
    z-index: -3;
    width: 375px;
    animation: rotate 10s normal linear infinite;
}

.terre {
    margin: 12.5%;
    z-index: 7;
    background-color: blue;
    width: 30px;
    animation: rotate 10s normal linear infinite;
}

.terreorbite:hover + .description::after{
    content: "Terre";
    font-family: Arial sans-serif;
}

.lune {
    z-index: 6;
    margin: -40%;
    width: 10px;
    background-color: gray;
}

.lune:hover + .description::after {
    content: "Lune";
}

.marsorbite {
    z-index: -4;
    width: 450px;
    animation: rotate 12s normal linear infinite;
}

.mars {
    z-index: 5;
    margin: 12%;
    background-color: red;
    width: 20px;
}

.marsorbite:hover + .description::after{
    content: "Mars";
    font-family: Arial sans-serif;
}

.jupiterorbite {
    z-index: -5;
    width: 700px;
    animation: rotate 17s normal linear infinite;
}

.jupiter {
    z-index: 4;
    margin: 8%;
    background-color: darksalmon;
    width: 100px;
}

.jupiterorbite:hover + .description::after{
    content: "Jupiter";
    font-family: Arial sans-serif;
}

.saturneorbite {
    z-index: -6;
    width: 900px;
    animation: rotate 20s normal linear infinite;
}

.saturne {
    z-index: 3;
    margin: 10%;
    background-color: burlywood;
    width: 90px;
    display: flex;
    align-items: center;
}

.saturneorbite:hover + .description::after{
    content: "Saturne";
    font-family: Arial sans-serif;
}

.anneau {
    width: 100%;
    padding: 2%;
    border-radius: 50%;
    border: 5px solid lightyellow;
}

.uranusorbite {
    z-index: -7;
    width: 1100px;
    animation: rotate 25s normal linear infinite;
}

.uranus {
    z-index: 2;
    margin: 11%;
    background-color: skyblue;
    width: 80px;
}

.uranusorbite:hover + .description::after{
    content: "Uranus";
    font-family: Arial sans-serif;
}

.neptuneorbite {
    z-index: -8;
    width: 1300px;
    animation: rotate 30s normal linear infinite;
}

.neptune {
    z-index: 1;
    margin: 12%;
    background-color: dodgerblue;
    width: 70px;
}

.neptuneorbite:hover + .description::after{
    content: "Neptune";
    font-family: Arial sans-serif;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}